# Estimate car price - Tidy up
#### Andreas Forster
This notebook is part of a Machine Learning project that is described and available to download on 
<BR>https://blogs.sap.com/2019/11/05/hands-on-tutoriaâ€¦hana-with-python/
<BR><BR>The purpose of this notebook is to tidy up and to delete the tables and views that were created by the earlier notebooks.
-  This notebook is optional. 
-  Only execute this notebook if you want to delete the tables and views that were created in the earlier notebooks

### Steps in this notebook
-  Connect to SAP HANA
-  Individually delete all tables and views that were created in the earlier notebooks

### Documentation
-  SAP HANA Python Client:  
   https://help.sap.com/viewer/0eec0d68141541d1b07893a39944924e/latest/en-US/f3b8fabf34324302b123297cdbe710f0.html

### Connect to SAP HANA
In this Notebook we are just tidying up and delete the content that was created earlier. Since no Machine Learning will be applied, the "SAP HANA Python Client" will be used (instead of the SAP HANA Python Client API for Machine Learning Algorithms).
<BR><BR>Use the connection details that are saved in the hdbuserstore application.

In [1]:
from hdbcli import dbapi
conn = dbapi.connect(address = 'hxe.richardschop.nl', port = 39015, database = 'HXE', currentSchema = 'RSCHOP', user = 'RSCHOP', password = 'Aloha1503')

Open a conection to SAP HANA

In [2]:
cursor = conn.cursor()

Delete the tables and views

In [3]:
sql = 'DROP TABLE RSCHOP.USEDCARPRICES'
cursor.execute(sql)

True

In [4]:
sql = 'DROP TABLE RSCHOP.USEDCARPRICES_TOPREDICT'
cursor.execute(sql)

True

In [5]:
sql = 'DROP VIEW RSCHOP.USEDCARPRICES_TOTRAIN'
cursor.execute(sql)

True

In [6]:
sql = 'DROP TABLE RSCHOP.USEDCARPRICES_MODEL_REGTREE'
cursor.execute(sql)

True

In [7]:
sql = 'DROP TABLE RSCHOP.USEDCARPRICES_PREDICTED'
cursor.execute(sql)

True

Close the connection

In [8]:
cursor.close()